# Clacky-related configuration
.1024*
.breakpoints
!.1024

# Node specific
node_modules
npm-debug.log
*.lock

# Build outputs
build/

# Environment variables
.env
.env.local

# OS specific
.DS_Store

# Package manager logs
yarn-debug.log*
yarn-error.log*